#experience
.experience
  .experience-section-title ##{section.experience.title}
  .experience-wrapper
    each experience in section.experience.content
      if experience.type === 'list'
        each listItem, key in experience.list
          input.experience-list-radio(type="radio", name="experience-list", id=`experience-item-${key}`)
          label.experience-list-header(for=`experience-item-${key}`)
            a(name=listItem.jobTitle)
            span #{listItem.jobTitle}
          .experience-list-body
            .experience-list-info
              .experience-list-date #{listItem.date}
              .experience-list-company #{listItem.company}
            .experience-list-summary #{listItem.summary}
            ul.experience-responsability-list
              each responsibility in listItem.responsibility
                li.experience-responsability-list-item #{responsibility}
